.read-more {
  display: inline-block; /* Biến thẻ a đang display: inline thành inline-block*/
  background-color: black;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px; /* bo góc */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* :hover là 1 pseudo class (lớp giả) */
.read-more:hover {
  background-color: blueviolet;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.read-more:active {
  background-color: red;
}

div p:first-child {
  color: brown;
}

div p:first-of-type {
  color: brown;
}

div p:last-child {
  color: violet;
}

div p:last-of-type {
  color: blueviolet;
}
