.content-box {
  width: 100px;
  height: 100px;
  background-color: antiquewhite;
}

.content-box::after {
  content: attr(content);
  width: 50px;
  height: 50px;
  background-color: brown;
  display: block;
  color: white;
}
